/**
  Kupiki Hotspot extra styles
 */

@import "/assets/css/icofont.css";

@import "toggle";

// For modal background
$blur-radius: 5px;

// Disable state transitation animation to allow ng-animate override
.main {
  transition: none;
}

$ui-view-transition-speed: 0.4s !default;

.main.ng-enter,
.main.ng-leave {
  -webkit-transition:$ui-view-transition-speed linear all;
  -moz-transition:$ui-view-transition-speed linear all;
  -o-transition:$ui-view-transition-speed linear all;
  transition:$ui-view-transition-speed linear all;
  opacity: 0;
}

.main.ng-enter.ng-enter-active {
  opacity: 1;
}

.sidebar-fixed .sidebar {
  height: -webkit-calc(100% - #{$navbar-height});
  height: -moz-calc(100% - #{$navbar-height});
  height: calc(100% - #{$navbar-height});
}

.has-error {
  label {
    color: theme-color("danger");
  };
  div input {
    color: theme-color("danger");
    border: 1px solid red !important;
  }
}

//.tab-content {
//  margin-top: -1px !important;
//  background: #fff !important;
//  border: 1px solid $border-color !important;
//  .tab-pane {
//    padding: $spacer;
//  }
//}

span.help-block {
  font-size: 10px;
}

.sidebar .nav-link.active {
  border-left: 3px solid theme-color("primary") !important;
}

.btn-kupiki-edit {
  padding: .15rem .2rem;
  font-size: .500rem;
  line-height: 1
}

.tooltip {
  opacity: 1;
}
.tooltip-inner {
  text-align: justify;
}

a.nav-link.dropdown-toggle {
  padding-right: 15px !important;
}

p.widget-body-title sup {
  top: -2em;
  font-size: 25%;
}

$listSize: 1px 2px 5px 10px 15px;

@each $size in $listSize {
  .margin-right-#{$size} { margin-right: $size }
  .margin-left-#{$size} { margin-left: $size }
  .margin-top-#{$size} { margin-top: $size }
  .margin-bottom-#{$size} { margin-bottom: $size }

  .padding-right-#{$size} { padding-right: $size }
  .padding-left-#{$size} { padding-left: $size }
  .padding-top-#{$size} { padding-top: $size }
  .padding-bottom-#{$size} { padding-bottom: $size }
}

.loginImage {
  position:absolute;
  z-index: -1;
}

@media screen and (min-aspect-ratio: 3/2) {
  .loginImage {
    max-width: 100%;
  }
}

@media screen and (max-aspect-ratio: 3/2) {
  .loginImage {
    max-height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .app-body {
    margin-top: 0px;
  }
}

@keyframes spin {
  to{transform:rotateZ(360deg)}
}

i.rotate:hover {
  animation: spin 3000ms;
}
