/**
  Kupiki Hotspot extra styles
 */

@import "/assets/css/icofont.css";

@import "toggle";

a.nav-link.dropdown-toggle {
  padding-right: 15px !important;
}

p.widget-body-title sup {
  top: -2em;
  font-size: 25%;
}

.margin-top-15px {
  margin-top:15px;
}

.loginImage {
  position:absolute;
  z-index: -1;
  max-width: 100%;
}

@keyframes spin {
  to{transform:rotateZ(360deg)}
}

i.rotate:hover {
  animation: spin 3000ms;
}
