<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="mb-0">
          <div class="card p-4">
            <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
              <div class="card-body">
                <!--<h1>Login</h1>-->
                <div class="form-group input-group mb-3">
                                  <span class="input-group-addon"><i class="icon-user"></i>
                                  </span>
                  <input type="text" class="form-control" placeholder="Username" name="username" ng-model="vm.user.username" required>
                </div>
                <div class="form-group input-group mb-4">
                                  <span class="input-group-addon"><i class="icon-lock"></i>
                                  </span>
                  <input type="password" class="form-control" placeholder="Password" name="password" ng-model="vm.user.password" required>
                </div>
                <div class="form-group has-error">
                  <p class="help-block text-danger" ng-show="(form.username.$error.required || form.password.$error.required) && vm.submitted">
                    Please enter your username and password.
                  </p>

                  <p class="help-block">{{ vm.errors.login }}</p>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <img src="/assets/images/kupiki-hotspot-logo.png" style="max-height: 45px"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
