.widget {
  padding: 20px;
}
.widget-container {
  display: flex;
  flex-direction: row;
}
.widget-icon {
  flex:auto;
  font-size: 4rem;
  margin-left: 10px
}
.widget-body {
  flex:auto;
  text-align: right;
}
.widget-body-title {
  font-size: 56px;
  letter-spacing: -.005em;
  line-height: 56px;
  margin-bottom: 0px;
  font-weight: 100;
}
.widget-body-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
}
