@import "../assets/scss/coreui";

$icon-font-path: '/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';

//$fa-font-path: '/assets/fonts/font-awesome/';
$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

$simple-line-font-path: '/assets/fonts/Simple-Line/';
@import '~simple-line-icons/scss/simple-line-icons';
@import '~angular-ui-grid/ui-grid.css';
@import '~angular-toastr/dist/angular-toastr.css';
@import '~angular-xeditable/dist/css/xeditable.css';
@import '~v-accordion/dist/v-accordion.css';
//@import '~v-accordion/src/vAccordion/styles/vAccordion.scss';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import "../assets/scss/kupiki";

@import "system/sysadmin/sysadmin";
@import "system/sysdashboard/sysdashboard";
@import "configuration/basic/basic";
@import "configuration/advanced/advanced";
@import "configuration/security/security";
@import "management/users/users";

@import "../components/widget/widget";
@import "../components/card/card";
@import "../components/kupikiButton/kupikiButton";
@import "../components/kupikiModal/kupikiModal";
