.modal-content {
  border-radius: 5px;
}

.modal-primary,
.modal-info,
.modal-success,
.modal-warning,
.modal-danger {
  .modal-header {
    color: #fff;
    border-radius: 5px 5px 0 0;
  }
}
.modal-primary .modal-header {
  background: theme-color("primary");
}
.modal-info .modal-header {
  background: theme-color("info");
}
.modal-success .modal-header {
  background: theme-color("success");
}
.modal-warning .modal-header {
  background: theme-color("warning");
}
.modal-danger .modal-header {
  background: theme-color("danger");
}
