<div class="row">
  <div class="col-sm-6 col-lg-3">
    <widget bg-color="bg-primary"
            text-color="text-white"
            icon="icofont icofont-hard-disk"
            title="{{ $ctrl.disk.free }}<sup>{{ $ctrl.disk.freeUnit }}</sup>"
            subtitle="Of {{ $ctrl.disk.total }}{{ $ctrl.disk.totalUnit }}"
            progress="{{ $ctrl.disk.percent }}"
            progress-color="{{ $ctrl.disk.class }}"></widget>
  </div>
  <div class="col-sm-6 col-lg-3">
    <widget bg-color="card-primary"
            text-color="text-white"
            icon="fa fa-microchip"
            title="{{ $ctrl.memory.free }}<sup>{{ $ctrl.memory.freeUnit }}</sup>"
            subtitle="System memory : {{ $ctrl.memory.total }}{{ $ctrl.memory.totalUnit }}"
            progress="{{ $ctrl.memory.percent }}"
            progress-color="{{ $ctrl.memory.class }}"></widget>
  </div>
  <div class="col-sm-6 col-lg-3">
    <widget bg-color="card-primary"
            text-color="text-white"
            icon="icofont icofont-heart-beat-alt"
            title="{{ $ctrl.cpu['1m'] }}<sup>1m</sup>"
            subtitle="5m:{{ $ctrl.cpu['5m'] }} | 15m:{{ $ctrl.cpu['15m'] }}"></widget>
  </div>
  <div class="col-sm-6 col-lg-3">
    <widget bg-color="card-primary"
            text-color="text-white"
            icon="icofont icofont-heartbeat"
            title="{{ $ctrl.uptime.title }}<sup>{{ $ctrl.uptime.unit }}</sup>"
            subtitle="{{ $ctrl.uptime.subtitle }}"></widget>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-lg-8">
    <card title="Services">
      <div  ui-grid="$ctrl.services" ng-if="$ctrl.services.data" class="myGrid"></div>
    </card>
  </div>
  <div class="col-sm-6 col-lg-4">
    <card title="System summary">
      <table class="table">
        <tbody>
        <tr ng-repeat="(key, value) in $ctrl.information">
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
        </tbody>
      </table>
    </card>
  </div>
</div>
