<div class="row">
  <div class="col-sm-12 col-lg-6">
    <card ng-if="vm.configuration" title="Configuration" spinner=true loading="vm.loading.configuration">
      <div class="hotspot-conf padding-right-15px padding-left-15px" ng-repeat="field in vm.configuration.data">
        <div class="hotspot-field-name">{{ field.display || field.field }}</div>
        <div class="hotspot-field-value">
          <span ng-if="field.type === 'text'"
                editable-text="field.value">
            {{ field.value }}
          </span>
          <span ng-if="field.type === 'number'"
                editable-number="field.value"
                e-min="{{ field.data.min }}"
                e-max="{{ field.data.max }}">
            {{ field.value }}
          </span>
          <span ng-if="field.type === 'select'"
                editable-select="field.value"
                e-ng-options="s.value as s.text for s in field.data">
            {{ field.value }}
          </span>
          <span ng-if="field.type === 'radiolist'"
                editable-radiolist="field.value"
                e-ng-options="s.value as s.text for s in field.data">
            {{ field.value }}
          </span>
        </div>
        <div class='delete-field'>
          <i class="icofont icofont-question-circle"
             tooltip-placement="left"
             tooltip-class="tooltip-left"
             uib-tooltip="{{ field.help }}"
             tooltip-trigger="'outsideClick'"></i>
          <!--<i class="icofont icofont-ui-delete" ng-click="vm.print()"></i>-->
        </div>
      </div>
<!--
      <div style="margin-left: auto;">
        <button class='btn btn-sm btn-primary margin-top-15px'><i class='icofont icofont-plus'></i> Add field</button>
      </div>
-->
    </card>
  </div>
  <div class="col-sm-12 col-lg-6">
    <card ng-if="vm.configuration" title="Generated file" spinner=true loading="vm.loading.configuration">
      <div class="code">
        <div ng-repeat="field in vm.configuration.data">{{ field.field }}={{ field.value }}</div>
      </div>
      <div class="margin-top-15px hotspot-conf-actions">
        <div>
          <button class="btn btn-sm btn-primary margin-right-15px" ng-click="vm.saveConfiguration()"><i class="icofont icofont-save"></i> Save</button>
        </div>
        <div style="margin-left: auto;">
          <button class='btn btn-sm btn-secondary margin-right-15px' ng-click="vm.reloadConfiguration()"><i class='icofont icofont-undo'></i> Reload</button>
          <button class='btn btn-sm btn-danger' ng-click="vm.loadDefaultConfiguration()"><i class='icofont icofont-ui-reply'></i> Reset</button>
        </div>
      </div>
    </card>
  </div>
</div>
