<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">
        System
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="system.sysdashboard"><i class="icon-speedometer"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="system.sysadmin"><i class="icon-settings"></i> Administration</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Configuration
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="configuration.basic"><i class="icon-wrench"></i> Basic</a>
      </li>
<!--
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="configuration.security"><i class="icon-lock"></i> Security</a>
      </li>
-->
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="configuration.advanced"><i class="icon-rocket"></i> Advanced</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Management
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="management.users"><i class="icon-people"></i> Users</a>
      </li>

      <!--
      Portal
        Configuration
          Portal authentication (none, checkbox, user/passwd, etc.)
          Portal options (background image, terms, redirect, etc.)
        Advanced (Nginx) ? SSL, etc.
      Management
        Users
        Batches
        Statistics
      -->
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button" ng-click='$ctrl.minimizeSidebar()'></button>
</div>
