<div class="row">
  <div class="col-sm-12 col-lg-9">
    <card title="Services" subtitle="Use toggle buttons to stop/start services" switch="on" switch-function="filterServices">
      <div  ui-grid="$ctrl.services" ng-if="$ctrl.services.data" class="myGrid"></div>
    </card>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <kupiki-button title="Update" icon="icofont icofont-stylish-up" ng-click="$ctrl.update()"></kupiki-button>
      </div>
      <div class="col-sm-6 col-lg-4">
        <kupiki-button title="Reboot" icon="rotate fa fa-refresh" ng-click="$ctrl.reboot()"></kupiki-button>
      </div>
      <div class="col-sm-6 col-lg-4">
        <kupiki-button title="Shutdown" icon="rotate fa fa-power-off" ng-click="$ctrl.shutdown()"></kupiki-button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-12">
      </div>
    </div>
  </div>
</div>
