.hotspot-conf,
.hotspot-conf-actions {
  display: flex;
  flex-direction: row;
}
.hotspot-conf:hover {
  background: $gray-200;
}
.hotspot-field-name {
  flex: 0 0 50%;
}
.hotspot-field-value {
  flex-grow: 1;
}

.code {
  border: solid 1px theme-color("secondary");
  padding: 10px;
}

.hotspot-conf:hover .delete-field {
  color: theme-color("secondary");
}
.delete-field {
  color: theme-color("secondary");
}
.delete-field .icofont-ui-delete:hover {
  color: theme-color("danger") !important;
}

.delete-field .icofont-question-circle:hover {
  color: theme-color("primary") !important;
}
