<div class="row">
  <div class="col-sm-12 col-lg-12">
    <card title="{{ vm.user.title }}" subtitle="{{ vm.user.username }}" spinner=true loading="vm.user.loading">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#userinfo" role="tab" aria-controls="userinfo"><i class="icon-user"></i> User info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#checkAttributes" role="tab" aria-controls="checkAttributes"><i class="icofont icofont-checked"></i> Check attributes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#replyAttributes" role="tab" aria-controls="replyAttributes"><i class="icofont icofont-reply"></i> Reply attributes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#maintenance" role="tab" aria-controls="maintenance"><i class="icofont icofont-under-construction-alt "></i> Maintenance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#statistics" role="tab" aria-controls="statistics"><i class="icofont icofont-chart-bar-graph"></i> Statistics</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane" id="userinfo" role="tabpanel">
          <form name="formUserinfo" class="form container" novalidate>
            <div class="form-group row" ng-class="{'has-danger': formUserinfo.username.$error.minlength}">
              <label class="col-md-3 form-control-label" for="username">User name</label>
              <div class="col-md-9">
                <input type="text"
                       id="username"
                       name="username"
                       class="form-control"
                       placeholder="Input the user name"
                       ng-minlength="4"
                       required
                       ng-model="vm.user.userinfo.username"
                       disabled>
                <div class="help-block text-danger text-size-9px" ng-show="formUserinfo.username.$error.minlength">
                  Minimal username length is 4 characters
                </div>
                <small id="usernameHelpBlock" class="form-text text-muted">
                  Username will be the user login
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="firstname">Firstname</label>
              <div class="col-md-9">
                <input type="text"
                       id="firstname"
                       name="firstname"
                       class="form-control"
                       placeholder="Firstname of the user"
                       ng-model="vm.user.userinfo.firstname">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="lastname">Lastname</label>
              <div class="col-md-9">
                <input type="text"
                       id="lastname"
                       name="lastname"
                       class="form-control"
                       placeholder="Lastname of the user"
                       ng-model="vm.user.userinfo.lastname">
              </div>
            </div>
            <div class="form-group row" ng-class="{'has-error': formUserinfo.email.$error.email}">
              <label class="col-md-3 form-control-label" for="email">E-mail</label>
              <div class="col-md-9">
                <input type="email"
                       id="email"
                       name="email"
                       class="form-control"
                       placeholder="E-mail"
                       ng-model="vm.user.userinfo.email">
                <div class="help-block text-danger text-size-9px" ng-show="formUserinfo.email.$error.email">
                  Input a valid email address
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="department">Department</label>
              <div class="col-md-9">
                <input type="text"
                       id="department"
                       name="department"
                       class="form-control"
                       placeholder="Department"
                       ng-model="vm.user.userinfo.department">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="company">Company</label>
              <div class="col-md-9">
                <input type="text"
                       id="company"
                       name="company"
                       class="form-control"
                       placeholder="Company"
                       ng-model="vm.user.userinfo.company">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="workphone">Work phone</label>
              <div class="col-md-9">
                <input type="text"
                       id="workphone"
                       name="workphone"
                       class="form-control"
                       placeholder="Work phone"
                       ng-model="vm.user.userinfo.workphone">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="homephone">Home phone</label>
              <div class="col-md-9">
                <input type="text"
                       id="homephone"
                       name="homephone"
                       class="form-control"
                       placeholder="Home phone"
                       ng-model="vm.user.userinfo.homephone">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="mobilephone">Mobile phone</label>
              <div class="col-md-9">
                <input type="text"
                       id="mobilephone"
                       name="mobilephone"
                       class="form-control"
                       placeholder="Mobile phone"
                       ng-model="vm.user.userinfo.mobilephone">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="address">Address</label>
              <div class="col-md-9">
                <input type="text"
                       id="address"
                       name="address"
                       class="form-control"
                       placeholder="Address"
                       ng-model="vm.user.userinfo.address">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="city">City</label>
              <div class="col-md-9">
                <input type="text"
                       id="city"
                       name="city"
                       class="form-control"
                       placeholder="City"
                       ng-model="vm.user.userinfo.city">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="state">State</label>
              <div class="col-md-9">
                <input type="text"
                       id="state"
                       name="state"
                       class="form-control"
                       placeholder="State"
                       ng-model="vm.user.userinfo.state">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="country">Country</label>
              <div class="col-md-9">
                <input type="text"
                       id="country"
                       name="country"
                       class="form-control"
                       placeholder="Country"
                       ng-model="vm.user.userinfo.country">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="zip">Zip</label>
              <div class="col-md-9">
                <input type="text"
                       id="zip"
                       name="zip"
                       class="form-control"
                       placeholder="Zip"
                       ng-model="vm.user.userinfo.zip">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="notes">Notes</label>
              <div class="col-md-9">
                <textarea
                       id="notes"
                       name="notes"
                       rows="4"
                       class="form-control"
                       placeholder="Notes"
                       ng-model="vm.user.userinfo.notes"></textarea>
              </div>
            </div>
          </form>

          <div class="margin-top-15px hotspot-conf-actions">
            <div>
              <button class="btn btn-sm btn-primary margin-right-15px" ng-disabled="!formUserinfo.$valid" ng-click="vm.saveUserUserinfo(formUserinfo)">
                <i ng-if="formUserinfo.$valid" class="fa fa-floppy-o"></i><i ng-if="!formUserinfo.$valid" class="fa fa-ban"></i> Save user information
              </button>
            </div>
            <div ng-if="vm.user.action === 'edit'" style="margin-left: auto;">
              <button class='btn btn-sm btn-secondary margin-right-15px' ng-click="vm.reloadUserinfo()"><i class='icon-action-undo'></i> Reload</button>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="checkAttributes" role="tabpanel">
          <form name="formCheckAttributes" class="form" ng-submit="" novalidate>
            <v-accordion class="vAccordion--default" multiple>
              <v-pane expanded>
                <v-pane-header>
                  <i class="icofont icofont-calculations"></i> Basic configuration
                </v-pane-header>
                <v-pane-content>
                  <div class="form-group row" ng-class="{'has-danger': formCheckAttributes.password.$error.minlength}">
                    <label class="col-md-2 form-control-label" for="password">User password</label>
                    <div class="col-md-10">
                      <select id="passwordType"
                              name="passwordType"
                              class="form-control"
                              hidden
                              ng-model="vm.user.radcheck[vm.user.passwordAttributeIndex].attribute"
                              ng-change="vm.generatePassword()">
                        <option value="Crypt-Password">Crypt password</option>
                        <option value="Cleartext-Password">Clear text password</option>
                        <option value="MD5-Password">MD5 password (It should not be used)</option>
                      </select>
                      <input type="text"
                             id="passwordClear"
                             name="passwordClear"
                             class="form-control"
                             placeholder="Input the user password"
                             ng-minlength="6"
                             required
                             ng-model="vm.user.passwordClear"
                             ng-change="vm.generatePassword()">
                      <input type="text"
                             id="password"
                             name="password"
                             class="form-control"
                             placeholder="Input the user password"
                             required
                             hidden
                             ng-model="vm.user.radcheck[vm.user.passwordAttributeIndex].value"
                             disabled>
                      <div class="help-block text-danger text-size-9px" ng-show="formCheckAttributes.passwordClear.$error.minlength">
                        Minimal password length is 6 characters
                      </div>
                    </div>
                  </div>
                </v-pane-content>
              </v-pane>

              <v-pane>
                <v-pane-header>
                  <i class="icofont icofont-wrench"></i> Advanced configuration
                </v-pane-header>
                <v-pane-content>
                  <div ng-if="vm.user.radcheckGrid.data" ui-grid="vm.user.radcheckGrid" class="myGrid"></div>
                </v-pane-content>
              </v-pane>

            </v-accordion>
          </form>

          <div class="margin-top-15px hotspot-conf-actions">
            <div>
              <button class="btn btn-sm btn-primary margin-right-15px" ng-disabled="!formCheckAttributes.$valid || !vm.user.userinfo.username" ng-click="vm.saveUserRadcheck(formCheckAttributes)">
                <i ng-if="formCheckAttributes.$valid" class="fa fa-floppy-o"></i><i ng-if="!formCheckAttributes.$valid" class="fa fa-ban"></i> Save check attributes</button>
            </div>
            <div ng-if="vm.user.action === 'edit'" style="margin-left: auto;">
              <button class='btn btn-sm btn-secondary margin-right-15px' ng-click="vm.reloadCheckAttributes()"><i class='icon-action-undo'></i> Reload</button>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="replyAttributes" role="tabpanel">
          TO DO
        </div>
        <div class="tab-pane active" id="maintenance" role="tabpanel">
            <v-accordion class="vAccordion--default" multiple>
              <v-pane expanded>
                <v-pane-header>
                  <i class="icofont icofont-ui-wifi"></i> Test user connectivity
                </v-pane-header>
                <v-pane-content>
                  <form name="formCheckConnectivity" class="form" novalidate>
                    <div class="form-group row">
                      <label class="col-md-3 form-control-label" for="username">Username</label>
                      <div class="col-md-9">
                        <input type="text"
                               id="username"
                               name="username"
                               class="form-control"
                               ng-model="vm.user.userinfo.username"
                               disabled>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 form-control-label" for="password">Password</label>
                      <div class="col-md-9">
                        <input type="text"
                               id="password"
                               name="password"
                               class="form-control"
                               ng-model="vm.user.passwordCheck"
                               required>
                        <div class="help-block text-danger text-size-9px" ng-show="formCheckConnectivity.password.$error.required">
                          Password is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row margin-left-15px">
                      <p>Running : echo User-Name="{{ vm.user.userinfo.username }}",User-Password="{{ vm.user.passwordCheck }}" | radclient -c '1' -n '3' -r '3' -t '3' -x '127.0.0.1:1812' 'auth' "$RADIUSSECRET" 2>&1
                      <br/><span class="text-size-8px">$RADIUSSECRET will be set when the command is executed</span>
                      </p>
                    </div>
                    <div class="form-group row margin-left-15px">
                      <button class='btn btn-sm btn-primary' ng-disabled="!formCheckConnectivity.$valid || vm.user.checking" ng-click="vm.checkUserConnectivity(formCheckConnectivity)">
                        <i ng-class="{'fa fa-spin fa-spinner': vm.user.checking, 'icofont icofont-check-alt': !vm.user.checking}"></i> Test
                      </button>
                    </div>
                  </form>
                </v-pane-content>
              </v-pane>

              <v-pane expanded>
                <v-pane-header>
                  <i class="icofont icofont-logout"></i> Disconnect user
                </v-pane-header>
                <v-pane-content>
                  <form name="formDisconnect" class="form" novalidate>
                    <div class="form-group row margin-left-15px">
                      <p>Running : echo "User-Name={{ vm.user.userinfo.username }}" | radclient -x localhost:3779 disconnect $RADIUSSECRET 2>&1
                        <br/><span class="text-size-8px">$RADIUSSECRET will be set when the command is executed</span>
                      </p>
                    </div>
                    <div class="form-group row margin-left-15px">
                      <button class='btn btn-sm btn-primary' ng-disabled="vm.user.disconnecting" ng-click="vm.disconnectUser()">
                        <i ng-class="{'fa fa-spin fa-spinner': vm.user.disconnecting, 'icofont icofont-logout': !vm.user.disconnecting}"></i> Disconnect
                      </button>
                    </div>
                  </form>
                </v-pane-content>
              </v-pane>
            </v-accordion>
        </div>
        <div class="tab-pane" id="statistics" role="tabpanel">
          TO DO
        </div>
      </div>

    </card>
  </div>
</div>
